# 패키지 목록

# backend
Flask
Flask-Cors
PyMySQL
python-dotenv

# nodejs
npm init -y
npm install <명령어>
express
mysql2
dotenv
bcryptjs
jsonwebtoken
cors
axios


# frontend
npm install
@react-navigation/stack
# @react-navigation/native
# react-native-gesture-handler
# react-native-reanimated
# react-native-screens
# react-native-safe-area-context
# @react-native-community/masked-view
npx expo install 
react-native-web
react-dom
@expo/metro-runtime



